<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
  	
  	<resultMap type="Board" id="boardResult">
  		<result column="BOARD_NO" property="boardNo" />
  		<result column="BOARD_WRITER" property="boardWriter" />
  		<result column="BOARD_TITLE" property="boardTitle" />
  		<result column="BOARD_CONTENT" property="boardContent" />
  		<result column="CREATE_DATE" property="createDate" />
  		<result column="COUNT" property="count" />
  		<result column="TAG" property="tag" />
  		<result column="BOARD_TYPE" property="boardType" />
  		<result column="STATUS" property="status" />
  		<result column="likes" property="likes" />
  		<result column="reply" property="reply" />
  	</resultMap>
  	
  	<resultMap type="TBoard" id="TBoardResult">
  		<result column="TBOARD_NO" property="tboardNo" />
  		<result column="USER_NO" property="userNo" />
  		<result column="THUMBNAIL" property="thumbnail" />
  		<result column="TBOARD_TITLE" property="tboardTitle" />
  		<result column="TBOARD_CONTENT" property="tboardContent" />
  		<result column="PRICE" property="price" />
  		<result column="CREATE_DATE" property="createDate" />
  		<result column="COUNT" property="count" />
  		<result column="TAG" property="tag" />
  		<result column="STATUS" property="status" />
  	</resultMap>
  	
  	<resultMap type="Reply" id="ReplyResult">
  		<result column="REPLY_NO" property="replyNo" />
  		<result column="BOARD_NO" property="boardNo" />
  		<result column="REPLY_WRITER" property="replyWriter" />
  		<result column="REPLY_CONTENT" property="replyContent" />
  		<result column="CREATE_DATE" property="createDate" />
  		<result column="STATUS" property="status" />
  	</resultMap>
  	
  	<resultMap type="Like" id="likeResult">
  		<result column="BOARD_NO" property="boardNo" />
  		<result column="user_no" property="userNo" />
  	</resultMap>
  	
  	
  	<select id="selectNoticeListCount" resultType="_int">
		select
		       count(*)
		  from board
		 where status = 'Y'
		   and board_type = 1
  	</select>
  	
  	<select id="selectNoticeList" resultMap="boardResult">
		select
		       TO_NUMBER(SUBSTR(board_no, 2)) AS board_no
		     , board_title
		     , user_id as board_writer
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		  from board b
		  join member on(BOARD_WRITER = USER_NO)
		 where b.status = 'Y'
		 order
		    by board_no desc
  	</select>
  	
  	
  	
  	
  	<select id="searchBoard" resultMap="boardResult">
  	    select
  		       board_no
  		     , board_writer
  		     , board_title
  		     , board_content
  		     , create_date
  		     , count
  		     , tag
		  from board
		 where board_title like '%'||#{keyword}||'%'
		   and status = 'Y'
   		   and board_type = 1
  	</select>
  	
  	  	<select id="searchTboard" resultMap="TBoardResult">
  	    select
  		       tboard_no
  		     , user_no
  		     , tboard_title
  		     , tboard_content
  		     , create_date
  		     , count
  		     , tag
		  from t_board
		 where tboard_title like '%'||#{keyword}||'%'
		   and status = 'Y'
  	</select>
  	
  	<select id="selectSearchCount" resultType="_int" >
  		select
		       count(*)
		  from board b
		  join member on (board_writer = user_no)
		 where b.status = 'Y'
		 <if test="condition == 'title'">
		   and board_title  
		 </if>
		 <if test="condition == 'content'">
		   and board_content
		 </if>
		   like '%' || #{keyword} || '%'
  	</select>
  	
  	
  	<select id="selectSearchList" resultMap="boardResult" >
		select
		       TO_NUMBER(SUBSTR(board_no, 2)) AS board_no
		     , board_title
		     , user_id as board_writer 
		     , count
		     , create_date
		  from board b
		  join member on (board_writer = user_no)
		 where b.status = 'Y'
		 <choose>
		   	<when test="condition == 'title'">
			   and board_title
		   	</when>
		   	<otherwise>
			   and board_content
		   	</otherwise>
		 </choose> 
		    like '%' || #{keyword} || '%'
		 order
		    by board_no desc
  	</select>
  	
  	<select id="selectTopBoardList" resultMap="boardResult">
		select *
		from(select
		    board_no,
		    board_title,
		    tag,
		    count,
		    (select count(*)
		        from likes l
		        where b.board_no = l.board_no) likes,
		    (select count(*)
		        from reply r
		        where b.board_no = r.board_no) reply
		from board b
		where count > 0
		and status = 'Y'
		and board_type = 1
		order by likes desc, count desc )
		where rownum between 1 and 10
  	</select>
  	
  	<select id="selectTopTBoardList" resultMap="TBoardResult">
  		select * 
		  from (
		         select
		         tboard_no
		       , user_no
		       , tboard_title
		       , tboard_content
		       , to_char(create_date, 'YYYY-MM-DD') as create_date
		       from t_board
		       where status = 'Y'
		       order 
		            by create_date desc
		       )
		    where rownum between 1 and 3
  	</select>
  	<select id="selectMyPageBoardList" resultMap="boardResult">
  		select TO_NUMBER(SUBSTR(board_no, 2))  AS "BOARD_NO"
			 , BOARD_WRITER
			 , BOARD_TITLE
			 , BOARD_CONTENT
			 , CREATE_DATE
			 , COUNT
			 , TAG
			 , BOARD_TYPE
		  from board b
		  join member on (board_writer = user_no)
		 where user_no = #{mno}
		   and b.status = 'Y'
		 order
		    by board_no desc
  	</select>
  	
  	<select id="selectMyPageTBoardList" resultMap="TBoardResult">
  		  select 
		         TO_NUMBER(SUBSTR(tboard_no, 2))  AS "tboard_no"
		       , user_no
		       , tboard_title
		       , thumbnail
		       , create_date
		       , count
		    from t_board t
		    join member using (user_no)
		   where user_no = 2
		     and t.status = 'Y'
		   order 
		      by tboard_no desc
  	</select>
  	
  	<select id="selectTboardListCount" resultType="_int">
  		select
  			   count(*)
  		  from t_board
  	 	 where status = 'Y'
  	</select>
  	
  	
  	
  	<select id="selectTboardList" resultMap="TBoardResult">
  		select
		       TO_NUMBER(SUBSTR(tboard_no, 2)) AS tboard_no
		     , user_no
		     , thumbnail
		     , tboard_title
		     , tboard_content
		     , price
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , count
		     , tag
		  from t_board
		 where status = 'Y'
		 order
		    by tboard_no desc
  	</select>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
</mapper>
