<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  	
  	<resultMap type="Member" id="memberResult">
  		<result column="USER_NO" property="userNo" />
  		<result column="USER_ID" property="userId" />
  		<result column="USER_NAME" property="userPwd" />
  		<result column="NICKNAME" property="nickName" />
  		<result column="ADDRESS" property="address" />
  		<result column="EMAIL" property="email" />
  		<result column="PHONE" property="phone" />
  		<result column="POINT" property="point" />
  		<result column="PROFILE" property="profile" />
  		<result column="ENROLL_DATE" property="enrollDate" />
  		<result column="MODIFY_DATE" property="modifyDate" />
  		<result column="STATUS" property="status" />
  		<result column="USER_TOKEN" property="userToken" />
  	</resultMap>
  	
  	<resultMap type="Point" id="pointResult">
  		<result column="POINT_NO" property="pointNo" />
  		<result column="USER_NO" property="userNo" />
  		<result column="POINT_DATE" property="pointDate" />
  		<result column="REASON" property="reason" />
  		<result column="POINT" property="point" />
  	</resultMap>
 
</mapper>
