<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

  	<resultMap type="Question" id="questionResult">
  		<result column="Q_NO" property="qno" />
  		<result column="Q_WRITER" property="qwriter" />
  		<result column="REF_NO" property="refNO" />
  		<result column="Q_TITLE" property="qtitle" />
  		<result column="Q_CONTENT" property="qcontent" />
  		<result column="Q_CATEGORY" property="qcategory" />
  		<result column="Q_DATE" property="qdate" />
  		<result column="Q_STATUS" property="qstatus" />
  		<result column="thumbnail" property="thumbnail" />
  	</resultMap>
  	
  	<resultMap type="Answer" id="answerResult">
  		<result column="A_NO" property="ano" />
  		<result column="Q_NO" property="qno" />
  		<result column="A_CONTENT" property="acontent" />
  		<result column="A_DATE" property="adate" />
  		<result column="A_STATUS" property="astatus" />
  	</resultMap>
  	
  	<resultMap type="Attachment" id="attachmentResult">
  		<result column="FILE_NO" property="fileNo" />
  		<result column="REF_NO" property="refNo" />
  		<result column="ORIGIN_NAME" property="originName" />
  		<result column="CHANGE_NAME" property="changeName" />
  		<result column="FILE_PATH" property="filePath" />
  		<result column="UPLOAD_DATE" property="uploadDate" />
  		<result column="STATUS" property="status" />
  	</resultMap>

  	
  	<select id="selectQnaListCount" resultType="_int">
		select
		       count(*)
		  from question
		 where (q_status = 'Y' or q_status = 'N') 
  	</select>
  	
  	<select id="selectQnaList" resultMap="questionResult">
	  	select
	       TO_NUMBER(SUBSTR(q_no, 2)) AS q_no 
	     , q_title
	     , user_id as q_writer
	     , q_category
	     , q_status
	     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
	  from question
	  join member on(q_writer = user_no)
	 where (q_status = 'Y' or q_status = 'N')  
	 order
	    by q_no desc
  	</select>
  	
  	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from question q
		  join member on (q_writer = user_no)
		 where (q_status = 'Y' or q_status = 'N') 
		 <if test="condition == 'title'">
		   and q_title  
		 </if>
		 <if test="condition == 'content'">
		   and q_content
		 </if>
		   like '%' || #{keyword} || '%'
  	</select>
  	
  	
  	<select id="selectSearchList" resultMap="questionResult">
  		select
		       TO_NUMBER(SUBSTR(q_no, 2)) AS q_no 
		     , q_title
		     , user_id as q_writer 
		     , q_date
		     , q_category
             , q_status
		  from question q
		  join member on (q_writer = user_no)
		 where (q_status = 'Y' or q_status = 'N') 
		 <if test="condition == 'title'">
		   and q_title  
		 </if>
		 <if test="condition == 'content'">
		   and q_content
		 </if>
		  like '%' || #{keyword} || '%'
		 order
	  		by q_no desc
  	</select>
  	
  	<insert id="insertQna">
  		insert
		  into question
		  (
		    q_no
		  , q_writer
		  , q_title
		  , ref_no
		  , q_content
		  , q_category
		  , q_date
		  , q_status
		  )
		  values
		  (
		    'Q' || SEQ_QNO.NEXTVAL
		  , (select user_no
               from member
              where user_id = #{qwriter})  
		  , #{qtitle}
		  , 'Q' || SEQ_QNO.currval 
		  , #{qcontent}
		  , #{qcategory}
		  , default
		  , default
		  )

  	</insert>
  	
  	
  	<insert id="insertFile">
  		insert
		  into attachment
		  (
		    file_no
		  , ref_no
		  , origin_name
		  , change_name
		  , file_path
		  , upload_date
		  , status
		  )
		  values
		  (
		    SEQ_FNO.NEXTVAL
          , 'Q' || seq_qno.currval
          , #{originName}
          , #{changeName}
          , #{filePath}
          , default
          , default

		  )
  	</insert>
  	
  	<select id="selectQuestion" resultMap="questionResult">
  		select 
		       SUBSTR(q_no, 2) AS q_no 
		     , user_id as q_writer
		     , ref_no
		     , q_title
		     , q_content
		     , q_category
		     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
		     , q_status
		  from question
		  join member on (q_writer = user_no)
		 where q_no = 'Q' || #{qno}
		   and (q_status = 'Y' or q_status = 'N')
  	</select>
  	
	<select id="selectQuestionFile" resultMap="attachmentResult">
		select
			   file_no
			 , ref_no
			 , origin_name
			 , change_Name
			 , file_path
		  from attachment
		 where ref_no = 'Q' || #{qno}
		   and status = 'Y'
	</select>
	
	<update id="updateQuestion">
		update
			   question
		   set q_title = #{qtitle}
		   	 , q_category = #{qcategory}
		     , q_content = #{qcontent}
		 where q_no = 'Q' || #{qno}
	</update>
	
	
	<update id="updateQuestionFile">
		update
			   attachment
		   set origin_name = #{originName}
		     , change_name = #{changeName}
		     , file_path = #{filePath}
		 where ref_no = #{refNo}     
	</update>

	<update id="qnaDelete">
		update
			   question
		   set q_status = 'D'
		 where q_no = 'Q' || #{qno}
	</update>
	
	<update id="qnaFileDelete">
		update
			   attachment
		   set status = 'N'
		 where ref_no = 'Q' || #{qno}
	</update>
	
	<select id="selectAnswerList" resultMap="answerResult">
		select
	           a_no
	         , q_no
	         , a_content
	         , to_char(a_date, 'YYYY-MM-DD') as "a_date"
	         , a_status
	      from answer
	     where a_status = 'N'
	       and q_no = 'Q' || #{qno}
	     order 
	        by a_no desc   
	</select>
	

	<insert id="insertAnswer">
		insert
		  into answer
		  (
		    a_no
		  , q_no
		  , a_content
		  )
		  values
		  (
		    SEQ_ANO.NEXTVAL
		  , 'Q' || #{qno}
		  , #{acontent}
		  )    
	</insert>
	
	<update id="updateQnaStatus">
		update
			   question
		   set q_status = 'Y'
		 where q_no = 'Q' || #{qno}
	</update>
	
	<select id="selectMyPageQuestionList" resultMap="questionResult">
		select
		       q_title
		     , q_date
		     , q_status
		  from question
		 where q_writer = #{mno}
	</select>
	
	<update id="deleteAnswerQna">
		update
		       answer
		   set a_status = 'D'
		 where a_no = #{ano}
		   and q_no = 'Q' || #{qno}
	</update>
	
	
	
	
	
	
	
	<select id="selectQuestionListAD" resultMap="questionResult">
		select
		       q_no
		     , user_id as "q_writer"
		     , ref_no
		     , q_title
		     , q_content
		     , q_category
		     , q_date
		     , q_status
		     , (select thumbnail
		          from product
		         where product_no = ref_no) as "thumbnail"
		  from question
		  join member on (q_writer = user_no)
		  <if test="status == 'selectStatusN'">
		  where q_status = 'N'
		  </if>
		 order
		    by q_no desc
	</select>
	
	
	<select id="serchAttachment" resultMap="attachmentResult">
		select 
		       file_no
		     , ref_no
		     , origin_name
		     , change_name
		     , file_path
		  from attachment
		 where ref_no = #{qno} 
	</select>
	
  	<insert id="insertFile2">
  		insert
		  into attachment
		  (
		    file_no
		  , ref_no
		  , origin_name
		  , change_name
		  , file_path
		  , upload_date
		  , status
		  )
		  values
		  (
		    SEQ_FNO.NEXTVAL
          , 'Q' || #{refNo}
          , #{originName}
          , #{changeName}
          , #{filePath}
          , default
          , default

		  )
  	</insert>
	
	
</mapper>